
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon"
    href="{{ url_for('static', filename='bm/img/tech/myfolio-logo.png')}}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="static/bm/bootstrap/css/bootstrap.min.css">
    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/about.css">



    <!------ Include the above in your HEAD tag ---------->
    
    <title>Matcha</title>
</head>
<body >
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div><a class="navbar-brand logo" href="/"><img src="static/img/myfolio-logo.png" height="50" width="50"></a>
        <!-- <div class="navbar-collapse collapse" id="navcol-1" style=""> -->
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active"></a></li>
            </ul>
        <!-- </div> -->
    </div>
</nav>
  <div class="container">
        <div class="content">
                <div class="card ">
                  <div class="firstinfo"><img src="static/img/avatars/anouar.jpg"/>
                    <div class="profileinfo">
                      <h1>Anouar Essaid</h1>
                      <h3>Full Stack Web Developer</h3>
                      <p class="bio">“You only live once, but if you do it right, once is enough.”</p>
                    </div>
                  </div>
                </div>
                
              </div>
              <br>

                 <div class="content">
                <div class="card">
                  <div class="firstinfo"><img src="static/img/avatars/souhail.jpg"/>
                    <div class="profileinfo">
                      <h1>Souhail Razik</h1>
                      <h3>Full StackWeb developer</h3>
                      <p class="bio">“Be yourself; everyone else is already taken.”</p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
    </body>
</html>


